// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue-layette: #82D2F6;
$sky-blue: #B7E6FE;
$turquoise: #77CFDB;
$tangerine: #F19259;
$light-grey: #C5C7CD;
$stormy-grey: #524F61;
$black-purple: #2B2842;
$sand : #E3CDC2;
