<% if notice %>
  <div class="alert alert-success alert-dismissible fade show m-1 text-center" role="alert">
    <%=image_tag("check.svg")%>
    <h1>NICE JOB !</h1>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-success alert-dismissible fade show m-1 text-center" role="alert">
    <%=image_tag("check.svg")%>
    <h1>WELL SEND !</h1>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
