#position-absolute {
  position: absolute;
  top: 65%;
  left: -15%;
  opacity: .5;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}

#position-absolute-2 {
  position: absolute;
  top: 18%;
  left: 5%;
  opacity: .4;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}


#position-absolute-3 {
  position: absolute;
  top: 26%;
  left: 3%;
  right: 3%;
  opacity: .5;
}

#position-absolute img {
  height: 80vh;
  width: 0%;
}

#position-absolute-plant {
  position: absolute;
  bottom: 3%;
  left: 50px;
  z-index: -10;
}

#position-absolute-plant img {
  width: 270px;
}

#position-absolute-plant1 {
  position: absolute;
  bottom: 3.3%;
  z-index: -10;
}

#position-absolute-plant1 img {
  width: 220px;
}

#position-absolute-standing {
  position: absolute;
  bottom: 3%;
  left: 75%;
  z-index: -10;
}

#position-absolute-standing img {
  width: 270px;
  opacity: .8;
}

#position-absolute-standing1 {
  position: absolute;
  bottom: 3.4%;
  left: 73%;
  z-index: -10;
}

#position-absolute-standing1 img {
  width: 250px;
  opacity: .8;
}

#position-absolute-standing-8 {
  position: absolute;
  bottom: 1.35%;
  left: 5%;
  z-index: -10;
}

#position-absolute-standing-8 img {
  width: 270px;
  opacity: .8;
}

#position-absolute-standing-4 {
  position: absolute;
  bottom: 1.7%;
  left: 3%;
  z-index: -10;
}

#position-absolute-standing-4 img {
  width: 283px;
}


#position-absolute-sitting {
  position: absolute;
  left: 74%;
  top: 13.7%;
  z-index: 0;
}

#position-absolute-sitting img {
  width: 214px;
}

@media screen and (max-width: 768px) {
  #position-absolute-sitting {
    position: absolute;
    left: 77%;
    top: 30.7%;
    z-index: 0;
  }
}

#position-absolute-greyshape {
  position: absolute;
  top: 7%;
  left: 21%;
  z-index: -10;
}

#position-absolute-greyshape img {
  width: 800px;
}

@media screen and (max-width: 768px) {
  #position-absolute-greyshape img {
    width: 94%;
  }
  #position-absolute-greyshape {
    left: 14%;
  }
}

