#position-absolute {
  position: absolute;
  top: 65%;
  left: -15%;
  opacity: .5;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}

#position-absolute-2 {
  position: absolute;
  top: 18%;
  left: 5%;
  opacity: .4;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}
