#position-absolute {
  position: absolute;
  top: 65%;
  left: -15%;
  opacity: .5;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}

#position-absolute-2 {
  position: absolute;
  top: 18%;
  left: 5%;
  opacity: .4;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}


#position-absolute-3 {
  position: absolute;
  top: 26%;
  left: 3%;
  right: 3%;
  opacity: .5;
}

#position-absolute img {
  height: 80vh;
  width: 100%;
}

#position-absolute-plant {
  position: absolute;
  bottom: 3.6%;
  z-index: -10;
}

#position-absolute-plant img {
  width: 210px;
}

#position-absolute-standing {
  position: absolute;
  bottom: 3.6%;
  left: 74%;
  z-index: -10;
}

#position-absolute-standing img {
  width: 220px;
  opacity: .8;
}

#position-absolute-standing-8 {
  position: absolute;
  bottom: 3.6%;
  left: -3%;
  z-index: -10;
}

#position-absolute-standing-8 img {
  width: 180px;
  opacity: .8;
}

#position-absolute-sitting {
  position: absolute;
  left: 77%;
  top: 29.2%;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  #position-absolute-sitting {
    position: absolute;
    left: 77%;
    top: 23.2%;
    z-index: 0;
  }
}

#position-absolute-greyshape {
  position: absolute;
  top: 6%;
  left: 13%;
  z-index: -10;
}

#position-absolute-greyshape img {
  width: 900px;
}

@media screen and (max-width: 768px) {
  #position-absolute-greyshape img {
    width: 94%;
  }
}

