.modal-title {
  color: $black-purple !important;
}

.close {
  color: $black-purple !important;
}

.select {
  color: $stormy-grey !important;
}

.integer {
  color: $stormy-grey !important;
}

.date {
  color: $stormy-grey !important;
}

.form-control {
  border-radius: 5px;
}

.modal-body {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.modal-content {
  border-radius: 8px;
  border: 0;
}
