.modal-design {
  text-align: center;
  }

div.form-check {
  display: inline-block;
  padding-right: 32px;
  padding-left:63px;
}

div.form {
  text-align: center;
}

p.text-center {
  color: $sand;
  font-family: Poppins;
  padding-top: 8px;
}

.form-size {
  width: 50%;
}

span.achievement-name {
  color: $tangerine;
}

.qty {
  text-align: center;
}
.qty span {
  background: none;
  color: none;
}
input.count {
  text-align: center;
  font-size: 22px;
  border: 1px solid #F0F1F7;
  width: 12%;
  height: 55px;
  border-radius: 10px;
  margin: 0 13px;
}

// .modal-content p {
//   font-weight: bold;
//   font-size: 40px !important;
//   line-height: 60px;
//   color: #9FA2B4 !important;
// }

/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

Input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
