.modal-design {
  text-align: center;

  }

div.form-check {
  display: inline-block;
  padding-right: 30px;
}

.numeric {
width: 100px;
 margin:auto
}
div.numeric {
  text-align: center;
}

div.form {
  text-align: center

}

p {
  color: $sand;
  font-family: Poppins
}
