.tab-menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #C5C7CD;
  &:hover {
    color: #2B2842;
  }
}

.tab-menu.active {
  color: #2B2842;
}

.line-grey {
  width: 100%;
  height: 2px;
  background-color: #C5C7CD;
}

#nav-menu a {
  &:focus{
  border-bottom: 2px solid #2B2842 !important;
  top: 1.5px;
  position: relative;
  }

.container-suggestion {
  width: 100%;
  height: 476px;
  margin-top: 70px;
  overflow-y: scroll;
}
