.btn-plain {
  color: white;
  background-color: orange;
  border: 1px solid $tangerine;
  border-radius: 50px;
  padding: 13px 25px;
  font-weight: lighter;
  opacity: 0.6;

  &:hover,:focus {


  }
}



.btn-
